<div class="flex items-center gap-6 flex-1">
  <div class="relative w-full transition-all duration-300">
    <span
      class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-text-secondary"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
        />
      </svg>
    </span>
    <input
      class="w-full max-w-md focus:max-w-xl bg-surface-low border-none rounded-full py-2 pl-10 pr-4 text-sm focus:ring-2 focus:ring-vibrant-turquoise transition-all text-text-primary placeholder-text-secondary"
      placeholder="Search tasks, people, or ops..."
      type="text"
    />
  </div>
</div>

<div class="flex items-center gap-4 ml-4">
  <button
    class="p-2 hover:bg-surface-low rounded-full cursor-pointer active:opacity-80 transition-all"
  >
    <span class="material-symbols-outlined text-corporate-blue"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5"
        />
      </svg>
    </span>
  </button>
  <div class="h-8 w-px bg-outline-light mx-2"></div>
  <div class="flex items-center gap-2 cursor-pointer group relative" (click)="togglePanel()">
    <div class="z-41 text-right hidden sm:block">
      <p class="text-xs font-bold text-corporate-blue">
        {{ authService.getUserData()?.userName ?? 'unknown' }}
      </p>
      <p class="text-xs text-text-secondary">
        {{ authService.getUserData()?.position ?? 'unknown position' }}
      </p>
    </div>
    <img
      class="z-41 w-10 h-10 rounded-full border-2 border-vibrant-turquoise object-cover"
      [src]="authService.getUserData()?.userImageUrl"
      (error)="$event.target.src = 'user_vector.jpg'"
      alt="Alex Rivera Headshot"
    />

    @if (showUserMenu()) {
      <div
        class="fixed inset-0 cursor-default"
        (click)="$event.stopPropagation(); togglePanel()"
      ></div>

      <div
        class="absolute cursor-default p-1 right-0 top-12 z-50 overflow-hidden rounded-xl border border-outline-light bg-surface-lowest shadow-md"
        (click)="$event.stopPropagation()"
      >
        <p class="px-5 py-2 text-center border-b mb-2 text-text-secondary border-outline-light">
          {{ authService.getUserData()?.userName }}
        </p>
        <button
          type="button"
          class="flex items-center gap-3 px-5 py-2 text-left text-sm font-medium rounded-lg text-error transition-colors hover:bg-red-50 cursor-pointer"
          (click)="$event.stopPropagation(); logout()"
        >
          <span>Logout</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"
            />
          </svg>
        </button>
      </div>
    }
  </div>
</div>
