<div class="mb-6 flex justify-between items-end">
  <div>
    <h2 class="text-2xl font-semibold text-corporate-blue tracking-tight">Operational Overview</h2>
    <p class="text-sm text-text-secondary mt-1">
      Welcome back, {{ authService.getUserData?.userName }}.
    </p>
  </div>
</div>

<div class="grid grid-cols-12 gap-6">
  <section class="col-span-12 lg:col-span-8 space-y-6">
    <div class="bg-surface-lowest border border-outline-light rounded-xl p-6 pb-10 shadow-sm">
      <div class="flex justify-between items-center mb-6">
        <h3 class="text-lg font-semibold text-corporate-blue flex items-center gap-2">
          My Active Tasks
        </h3>
        <button class="cursor-pointer p-2 hover:bg-surface-low rounded-full transition-colors">
          <span class="material-symbols-outlined text-text-secondary"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
              (click)="tasksService.reset(); tasksService.loadMore()"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
              />
            </svg>
          </span>
        </button>
      </div>

      <div
        class="space-y-4 max-h-100 overflow-y-scroll"
        [class.min-h-30]="!!showActivityStatusMenuFor()"
      >
        @for (task of tasksService.getTasks(); track task.id) {
          <div
            class="group relative pr-18 flex gap-y-2 flex-wrap items-center justify-between p-4 bg-surface-base border border-outline-light rounded-lg hover:border-vibrant-turquoise transition-colors border-l-4"
          >
            <div class="flex items-center gap-4">
              <div class="w-10 h-10 rounded-lg bg-surface-low flex items-center justify-center">
                <span class="material-symbols-outlined text-corporate-blue"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"
                    />
                  </svg>
                </span>
              </div>
              <div>
                <h4 class="text-sm font-bold text-corporate-blue">{{ task.title }}</h4>
                <p class="text-xs text-text-secondary mt-0.5">
                  {{ getStatusString(task.status) }} • Priority {{ task.priority }}
                </p>
              </div>
            </div>
            <div class="flex items-center gap-6 ml-14">
              <div class="text-right">
                <p class="text-xs font-bold">
                  {{ task.deadline | date: 'd/M/y h:m a' }}
                </p>
                <p class="text-xs text-text-secondary">Deadline</p>
              </div>
              <span class="px-3 py-1 rounded-full text-xs font-bold">{{
                getStatusString(task.status)
              }}</span>
              <button
                class="absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer hover:bg-surface-low rounded-full p-2 text-text-secondary hover:text-corporate-blue transition-all"
                (click)="ToggleShowActivityStatusMenu(task.id)"
              >
                <span class="material-symbols-outlined"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                    />
                  </svg>
                </span>
              </button>
              @if (showActivityStatusMenuFor() == task.id) {
                <app-drop-down-menu
                  class="top-13 right-4"
                  [options]="['Completed']"
                  (close)="showActivityStatusMenuFor.set('')"
                  (selectOption)="updateTaskStatus(task.id, $event, task.status)"
                />
              }
            </div>
          </div>
        } @empty {
          @if (!tasksService.getIsLoading()) {
            <div class="text-center w-full text-lg font-bold">No Tasks Currently</div>
          }
        }
        @if (tasksService.getIsLoading()) {
          <app-loading [loadingName]="'tasks'" />
        }
        <div appIsVisable (visible)="tasksService.loadMore()"></div>
      </div>
    </div>

    <div class="bg-surface-lowest border border-outline-light rounded-xl p-6 shadow-sm @container">
      <div class="flex flex-wrap gap-4 @max-[530px]:justify-center items-center mb-6">
        <h3 class="text-lg font-semibold text-corporate-blue flex items-center gap-2">Approvals</h3>
        <div
          class="min-w-42.5 font-bold relative isolate flex justify-around items-center text-center gap-2 text-xs @min-[530px]:mr-auto w-50 h-12 border rounded-xl border-outline-light"
        >
          <button
            [class]="
              'cursor-pointer h-full ' +
              (currApproval() == 'toApprove' ? 'text-white' : 'text-text-primary')
            "
            (click)="chaneApproval('toApprove')"
          >
            Needs<br />
            Approval
          </button>
          <button
            [class]="
              'cursor-pointer h-full ' +
              (currApproval() == 'requested' ? 'text-white' : 'text-text-primary')
            "
            (click)="chaneApproval('requested')"
          >
            Requested
          </button>

          <div
            class="absolute bg-corporate-blue h-full w-1/2 rounded-xl -z-1 transition-all left-0 duration-300"
            [class.translate-x-0]="currApproval() == 'toApprove'"
            [class.translate-x-full]="currApproval() == 'requested'"
          ></div>
        </div>
        <button class="cursor-pointer p-2 hover:bg-surface-low rounded-full transition-colors">
          <span class="material-symbols-outlined text-text-secondary"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
              (click)="resetApproval()"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
              />
            </svg>
          </span>
        </button>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-h-100 overflow-y-scroll">
        @if (currApproval() == 'toApprove') {
          @for (approval of approvalService.getToApprove(); track approval.id) {
            <div
              class="p-4 rounded-lg border border-outline-light hover:shadow-md transition-all bg-surface-lowest relative overflow-hidden group"
            >
              <div class="flex justify-between items-start mb-4">
                <div class="text-lg flex items-center gap-2">
                  <div>
                    <p class="font-bold text-corporate-blue">{{ approval.requesterName }}</p>
                  </div>
                </div>
              </div>
              <div class="flex flex-wrap justify-between gap-x-4 gap-y-2 mb-4">
                <p class="text-text-primary line-clamp-2">{{ approval.body }}</p>
                <p class="text-sm">{{ approval.createdOn | date: 'd/M/y h:m a' }}</p>
              </div>
              <div class="flex gap-2">
                <button
                  (click)="approvalService.updateStatus(approval.id, 1)"
                  class="cursor-pointer flex-1 py-2 rounded-lg border border-outline-light text-xs font-bold hover:bg-surface-low transition-colors text-text-primary"
                >
                  Reject
                </button>
                <button
                  (click)="approvalService.updateStatus(approval.id, 0)"
                  class="cursor-pointer flex-1 py-2 rounded-lg bg-corporate-blue text-surface-lowest text-xs font-bold hover:opacity-90 transition-opacity"
                >
                  Approve
                </button>
              </div>
            </div>
          } @empty {
            @if (!approvalService.getIsLoadingToApprove()) {
              <div class="text-center w-full md:col-span-2 text-lg font-bold">
                Nothing Needs Approval
              </div>
            }
          }
          @if (approvalService.getIsLoadingToApprove()) {
            <app-loading class="w-full md:col-span-2" [loadingName]="'Needs Approval'" />
          }
          <div appIsVisable (visible)="approvalService.loadMoreToApprove()"></div>
        }
        @if (currApproval() == 'requested') {
          @for (approval of approvalService.getRequestedApprovals(); track approval.id) {
            <div
              class="p-4 rounded-lg border border-outline-light hover:shadow-md transition-all bg-surface-lowest relative overflow-hidden"
            >
              <div class="flex justify-between items-start mb-4">
                <div class="text-lg flex items-center gap-2">
                  <div>
                    <p class="font-bold text-corporate-blue">{{ approval.requesterName }}</p>
                  </div>
                </div>
              </div>
              <div class="flex flex-wrap justify-between gap-x-4 gap-y-2 mb-4">
                <p class="text-text-primary line-clamp-2">{{ approval.body }}</p>
                <p class="text-sm">{{ approval.createdOn | date: 'd/M/y h:m a' }}</p>
              </div>
              <div
                class="text-center flex-1 py-2 rounded-lg bg-corporate-blue text-surface-lowest text-xs font-bold"
              >
                {{ toApprovalStatusString(approval.status) }}
              </div>
            </div>
          } @empty {
            @if (!approvalService.getIsLoadingRequestedApprovals()) {
              <div class="text-center w-full md:col-span-2 text-lg font-bold">
                No Requested Approvals
              </div>
            }
          }
          @if (approvalService.getIsLoadingRequestedApprovals()) {
            <app-loading class="w-full md:col-span-2" [loadingName]="'Requested Approvals'" />
          }
          <div appIsVisable (visible)="approvalService.loadMoreRequestedApprovals()"></div>
        }
      </div>
    </div>
  </section>

  <section class="col-span-12 lg:col-span-4">
    <div
      class="bg-surface-lowest border border-outline-light rounded-xl p-6 shadow-sm h-full flex flex-col"
    >
      <div class="flex justify-between items-center mb-6">
        <h3 class="text-lg font-semibold text-corporate-blue flex items-center gap-2">
          Recent Activity
        </h3>
        <button class="cursor-pointer p-2 hover:bg-surface-low rounded-full transition-colors">
          <span class="material-symbols-outlined text-text-secondary"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
              (click)="activitiesService.reset(); activitiesService.loadMore()"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
              />
            </svg>
          </span>
        </button>
      </div>

      <div class="max-h-[calc(min(70vh,1200px))] overflow-y-auto">
        <div
          class="flex-1 pr-1 space-y-6 relative before:absolute before:left-4.75 before:top-2 before:bottom-2 before:w-0.5 before:bg-surface-low"
        >
          @for (activity of activitiesService.getActivities(); track activity.id) {
            <div class="relative pl-12">
              <div
                class="absolute left-0 top-1 w-10 h-10 rounded-full flex items-center justify-center border-4 border-surface-lowest z-10"
              >
                <span class="material-symbols-outlined text-[20px]"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      [attr.d]="getActivityIcon(activity.type)"
                    />
                  </svg>
                </span>
              </div>
              <div class="bg-surface-base p-4 rounded-lg border border-outline-light">
                <p class="text-sm text-text-primary">
                  <span class="font-bold">{{ activity.title }}<br /></span>
                  <span class="whitespace-pre-line">{{ activity.description }}</span>
                </p>
                <span class="text-xs text-text-secondary mt-1 block">{{
                  activity.createdAt | date: 'd/M/y h:m a'
                }}</span>
              </div>
            </div>
          } @empty {
            @if (!activitiesService.getIsActivitiesLoading()) {
              <div class="text-center w-full text-lg font-bold">No Activities</div>
            }
          }
          @if (activitiesService.getIsActivitiesLoading()) {
            <app-loading [loadingName]="'Activities'" />
          }
          <div appIsVisable (visible)="activitiesService.loadMore()"></div>
        </div>
      </div>
    </div>
  </section>
</div>
